
.buttonContainer
{
    z-index: 10;
    text-align: center;
    position: absolute;
    top: 80%;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.Title_Area
{
    color:white;
    text-align: center;
    font-size: 8vw;
    margin-top:9%;
    font-family: 'Bavro', 'arial', 'sans-serif';
}

#TitleSubtext
{
    font-size: 1.8vw;
    margin-top:15px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .Title_Area
    {
        color:white;
        text-align: center;
        font-size: 15vw;
        margin-top: 14%;
        font-family: 'Bavro', 'arial', 'sans-serif';
    }
    
    #TitleSubtext
    {
        font-size: 3.9vw;
        margin-top: 15px;
    }
  }

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0%;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 101%;
    bottom:28%;
    
}
.bgTop {
    z-index: -5;
    opacity: 0.5;
}
.bgMiddle {
    z-index: -10;
    opacity: 0.75;
}
.bgBottom {
    z-index: -15;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 101%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    opacity: 0.5;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 15s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 30s linear infinite;
}