<div class="Title">
   MoodTunes

   <div id="TitleSubtext">
      Machine learning a song into your next playlist
   </div>
</div>

<div style="width:100%; height:100%;">
   <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
         <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
      </div>
      <div class="waveWrapperInner bgMiddle">
         <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
         <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
      </div>
      
      <div class="buttonContainer">
         <app-login></app-login>
      </div>
   </div>
</div>